@font-face {
  font-family: ComfortaaLight;
  src: url('./../public/fonts/Comfortaa-Light.ttf');
}

.font-comfortaa {
  font-family: ComfortaaLight;
}


@font-face {
  font-family: PoppinsBold;
  src: url('./../public/fonts/Poppins-Bold.ttf');
}

.font-poppins-bold {
  font-family: PoppinsBold;
}


@font-face {
  font-family: PoppinsExtraLight;
  src: url('./../public/fonts/Poppins-ExtraLight.ttf');
}

.font-poppins-light {
  font-family: PoppinsExtraLight;
}


@font-face {
  font-family: PoppinsExtraBold;
  src: url('./../public/fonts/Poppins-ExtraBold.ttf');
}

.font-poppins-extra-bold {
  font-family: PoppinsExtraBold;
}


@font-face {
  font-family: PoppinsMedium;
  src: url('./../public/fonts/Poppins-Medium.ttf');
}

.font-poppins-medium {
  font-family: PoppinsMedium;
}