.home-screen {
  width: 100%;
  position: relative;
}

.home-scree .layer {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
}

.home-scree video {
  max-width: 100%;
  height: auto;
}